body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: black;
    position: fixed;
    color: white;
    width: 100vw;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    text-align: center;
}

li {
    display: inline;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 2em;
}

.home {
    /* background-image: url("../images/main.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw; */
    background: url("../images/main.png") center/cover no-repeat;
    height: 100vh;
}

/* h1 {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 5em;
} */


